@model IEnumerable<ClientPatientManagement.Core.Model.Room>

@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h3>Crear nuevo room</h3>

@using (Html.BeginForm("Create", "Room"))
{
    <label>Nombre: </label>
    <input name="Nombre" />
    
    <label>Localidad: </label>
    <input name="Localidad" />
    <button type="submit">Submit</button>
}

<br />

<table class="table">
    <thead>
        <tr>
            <th>
                <label>ID</label>
            </th>
            <th>
                <label>Nombre</label>
            </th>
            <th>
                <label>Localizacion</label>
            </th>
            <th>
                <label>Acciones</label>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var room in Model)
        {
        <tr>
            <td>
                @room.Id
            </td>
            <td>
                @room.Name
            </td>
            <td>
                @room.Location
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", "Room", new { id = room.Id }, null) |
                @Html.ActionLink("Eliminar", "Delete", "Room", new { id = room.Id }, null)
            </td>            
        </tr>
        }
    </tbody>
</table>
